<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert sidebar.html}}
<main id="panel">
  {{ispage /tag/*}}
  <h1 class="page_title">Tag: {{fill fd_tag}}</h1>
  {{else}}
  <h1 class="page_title">{{isdef title}}{{fill title}}{{end}}</h1>
  <p>
    Creation date: {{formatted_date}}<br>
    Tags: {{show_tags}}
  </p>
  {{end}}

<!-- Content appended here -->
